h1 {
    color: red; 
}

p {
    color:rgb(214, 109, 127);
}

button {
    background-color: rgb(245, 66, 185);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

body{

    background-color: #f5c542;
}