*{
    color: black;
    font-family: 'Times New Roman';
}

body{
    text-align: center;
    background-color: lightgrey;
}
div{
    border: 2px solid black;
    
    height: 100px;
    width: 200px;
    display:inline-block;
}

#container{
    
    height: 300px;
    width: 600px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: nowrap;*/
    align-items: flex-start;
    /*align-content: center;*/
   

}

#box1{
    background-color: yellow;
    height: 200px;
    align-self: flex-start;

}
#box2{
    background-color: green;
    height: 150px;
    /*flex-grow: 2;*/
    flex-shrink:1;
}

#box3{
    background-color: blue;
    /*flex-grow: 1;*/
   /* flex-shrink: 1.5;*/
}
#box4{
    background-color: orange;
    height: 250px;
}   
#box5{
    background-color: purple;
}
 
#holder{
    margin-top: 50px;
    background-color: lightblue;
}
@media(width=600px){
    #holder{
        background-color: mediumvioletred;
    }
 }

@media(max-width:600px){
    #holder{
        background-color: olive;
    }
}
@media(min-width:400px) and (max-width:700px){
    #holder{
        background-color: coral;
    }
}